<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Vetrina Negozio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button (click)="listElementClicked()" *ngFor="let p of products">
          <ion-avatar>
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Circle-icons-dolly.svg">
          </ion-avatar>
          <ion-label class= "name_label"padding > 
              {{p.nome}}
          </ion-label>
          <ion-label class= "quantita_label">
            Q: {{p.quantita}}
          </ion-label>
          <ion-label class= "prezzo_label">
            € {{p.prezzo}}
          </ion-label>
          <ion-button>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-buttons > 
      <ion-grid>
        <ion-row>
          <ion-col>
      <ion-button (click)="viewPreferiti()">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="viewNegozi()">
          <ion-icon slot="icon-only" name="map"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="viewOrdini()">
        <ion-icon slot="icon-only" name="locate"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button (click)="viewImpostazioni()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>