<ion-header>
  <ion-toolbar>
    <ion-title>Spedizioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="presentActionSheet()" *ngFor="let item of ordine">
      <ion-avatar slot="start">
        <img src="https://png.pngtree.com/png-clipart/20190604/original/pngtree-car-sets-png-image_1291357.jpg">
      </ion-avatar>
      <ion-label>
        <h3>{{item.id_negozio}}</h3>
            <p>Send: {{item.id_cliente}}</p>
      </ion-label> 
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-buttons > 
      <ion-grid>
        <ion-row>
          <ion-col>
      <ion-button (click)="viewRiepilogo()">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="viewSpedizioni()">
          <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="viewImpostazioni()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>