<ion-header>
  <ion-toolbar>
    <ion-title>riepilogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-buttons > 
      <ion-grid>
        <ion-row>
          <ion-col>
      <ion-button (click)="viewRiepilogo()">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="viewSpedizioni()">
          <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="viewImpostazioni()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>