<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="preferiti">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Preferiti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="negozi">
      <ion-icon name="map"></ion-icon>
      <ion-label>Negozi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ordini">
      <ion-icon name="locate"></ion-icon>
      <ion-label>Ordini</ion-label>
    </ion-tab-button>
  
  <ion-tab-button tab="impostazioni">
    <ion-icon name="settings"></ion-icon>
    <ion-label>Impostazioni</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>