<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrazione</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Profilo</ion-label>
    <ion-select [(ngModel)]="tipoValue" placeholder="Select One">
      <ion-select-option value="C">Cliente</ion-select-option>
      <ion-select-option value="D">Driver</ion-select-option>
    </ion-select>
</ion-item>
  <ion-item>
    <ion-label  position="floating">Nome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="nome" required type="text"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">Cognome <ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="cognome" required type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Indirizzo <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="indirizzo" required type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Città <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="citta" required type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]="email" id="email" required type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
    <ion-input [(ngModel)]=  "password" required type="text"></ion-input>
</ion-item>
<ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="registerPressed()">
  <ion-icon name="log-in"></ion-icon>
  Registrati
</ion-button>
</ion-content>
