<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ordini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let o of ordini; let i = index" (click)="listElementClicked(o)">
        <ion-label stacked>
         <h2> Negozio: {{o.id_negozio}}</h2>
        
          <h2>  Stato ordine: {{toValue(o.stato)}}</h2>
         
         
           <h2> Prezzo: {{o.totale}} €</h2>
        </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-buttons > 
      <ion-grid>
        <ion-row>
          <ion-col text-center>
      <ion-button color="dark" (click)="viewPreferiti()">
        <ion-icon slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col text-center>
      <ion-button color="dark" (click)="viewNegozi()">
          <ion-icon slot="icon-only" name="map"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col text-center>
      <ion-button color="dark" (click)="viewOrdini()">
        <ion-icon slot="icon-only" name="locate"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col text-center>
      <ion-button color="dark" (click)="viewImpostazioni()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-buttons>
  </ion-toolbar>

</ion-footer>