<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{prodotto.nome}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/26/Circle-icons-dolly.svg" />
    <ion-card-content>
      <ion-item>
        <ion-label>
          {{prodotto.nome}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{prodotto.prezzo}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{prodotto.quantita}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
