<ion-content class ="ion-padding" color = "primary" class="prova animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div class="ion-padding-horizontal ion-text-center" class="animated fadeInDown">
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item  class="ion-no-padding animated fadeInUp">
        <ion-label color="dark" position="floating">
          <ion-icon name="mail" class="ion-item-start"></ion-icon>
          Email
        </ion-label>
        <ion-input color="dark" type="email" formControlName="email" [(ngModel)]='user.email'></ion-input>
      </ion-item>
      <p  class="text08 ion-text" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label color="dark" position="floating">
          <ion-icon  name="lock" class="ion-item-start"></ion-icon>
          Password
        </ion-label>
        <ion-input color="dark" type="password" formControlName="password" [(ngModel)]='user.pw'></ion-input>
      </ion-item>
      <p color="warning" class="text08 ion-text" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
        </p>
    </form>

    <p  tappable (click)="forgotPass()" class=" text08 ion-text-right">
      <ion-text color="dark" >
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>

    <div color="dark">
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="goToHome()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button>

      <p class="ion-text-center">
        <ion-text color="dark">
          Or Signin with:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" size="small" expand="full" color="dark">
              <ion-icon slot="icon-only" size="small" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" size="small" expand="full" color="dark">
              <ion-icon slot="icon-only" size="small" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" size="small" color="dark">
              <ion-icon slot="icon-only" size="small" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <!-- Other links -->
    <div class="ion-text-center">
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="dark" class="text08">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>